body {
  margin: auto;
  line-height: 1.6;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}
button {
  -webkit-app-region: no-drag;
}
input {
  width: 95%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 1em;
}
.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 30px 1fr 1fr;
  grid-template-areas: "title" "box" "list" "note";
}
.title-bar {
  grid-area: title;
  -webkit-app-region: drag;
  display: flex;
  justify-content: center;
}
.search-box {
  background-color: white;
  grid-area: box;
  display: flex;
  justify-content: center;
}

.list {
  grid-area: list;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  overflow-y: auto;
}

.list-item {
  border-bottom: 1px solid grey;
}

.list-item:hover {
  background-color: pink;
  cursor: default;
}

.note {
  border-top: 2px solid pink;
  background-color: white;
  padding: 10px;
  grid-area: note;
  overflow-y: auto;
  white-space: pre-line;
}
